.ResumenCard {
  margin: 15px
}

.ResumenCardHeader {
  border-bottom: 1px solid #ddd;
  padding: 10px 16px;
}

.sigCanvas {
  width: 600px;
  height: 400px;
}

@media (max-width:768px) and (min-width:600px) {
  .sigCanvas {
    width: 450px;
    height: 300px;
  }
}

@media (max-width:600px) and (min-width:400px) {
  .sigCanvas {
    width: 375px;
    height: 250px;
  }
}

@media (max-width:400px) {
  .sigCanvas {
    width: 300px;
    height: 200px;
  }
}