.Title {
    font-size: 45px !important;
}

.LineHeight_1_5 {
    line-height: 1.5rem !important;
}

.LineHeight_Normal {
    line-height: normal !important;
}

.TableRow td {
    text-align: center;
}

/* .TableRowNoBorder td {
    border-top: 2px solid #aaa !important;
    border-bottom: 2px solid #aaa !important;
} */

.TableCellAmmount {
    text-align: right !important;
}

.FirmaContainer {
    border-top: 1px solid #000;
    width: 100%;
}

.Size {
    font-size: 1px !important;
}

/* Marca de agua predeterminada */
.Watermark {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    font-size: 1000%;
    color: rgba(0, 0, 0, 0.1); 
    z-index: 1;
    pointer-events: none;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

@media print {
    .Watermark-visible {
        display: none;
    }
}