@media only screen and (max-width: 575px) {
  .ui.search.dropdown .menu {
    max-height: 20rem;
  }
}

@media only screen and (min-width: 576px) {
  .ui.search.dropdown .menu {
    max-height: 16.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .ui.search.dropdown .menu {
    max-height: 16.5rem;
  }
}